
#main{
  margin: 10%;
  padding:20px 0;
  padding-right: 30px;
  margin-top: 40px;
  background-color: #eee;;
}
  #img-div #image{
    display: block;
    max-width:40%;
    margin: auto;
  }

#tribute-info h2, #tribute-info h3{
  border-bottom:1px solid black;
}

#title,#img-caption{
  text-align: center;
}

#tribute-link{
  display: block;
  padding-left:30px;
}
