input{
padding:10px;
}
.app{
  visibility: hidden;
}

button{
  padding: 10px;
}

body{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/trip.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

main{
  margin: 0 1em;
  font-weight: bold;
  color:white;
  text-shadow: .5px 0.5px .1px black;
  text-align: center;
  padding: 20px;
}

select{
  padding: 10px;
}

ul {
  display:table;
  margin:0 auto;
  text-align: left;
}
