body{
    background-color:#a9d7d1;
    font-family: 'Raleway', Helvetica, sans-serif;
  }
  main{
    margin:0 20%;
    padding:20px 5%;
    background:rgb(250, 250, 250);
    border-radius:4px;
  }

  #title{text-align: center;}
  input{
    padding: 5px;
    border-radius: 3px;
  }
  select{
    padding: 5px;
  }

  textarea{
    width:90%;
    height: 10vh;
  }
